<app-navbar [actualPage]="'perfil'"></app-navbar>

<div class="perfil-container">
    <div class="perfil-esquerdo">
        <div class="perfil-avatar">
            <img [src]="userAvatar" alt="Avatar do usuário" class="avatar">
            <div class="edit-icon" (click)="onUploadClick()">
                <mat-icon>edit</mat-icon>
            </div>
            <input type="file" id="file-upload" accept="image/*" (change)="onFileSelected($event)" style="display: none;" />
        </div>        
        <div class="perfil-info"  *ngIf="user">
            <h3 style="margin-top: 0.5em;">{{this.user.name}}</h3>
            <p style="margin-top: -0.7em;">
                {{ 
                  this.user.professor_has_classes
                    ? (
                        this.user.professor_has_classes[0].class.name === 'Louvor' || this.user.professor_has_classes[0].class.name === 'Teatro' 
                        ? 'Membro do ' + this.user.professor_has_classes[0].class.name 
                        : (this.user.gender === 'female' ? 'Professora ' : 'Professor ') + this.user.professor_has_classes[0].class.name
                      ) 
                    : 'Sem classe associada'
                }}
              </p>
            <p>{{this.user.email}} - {{this.user.phone | formatPhone}}</p>
        </div>
    </div>

    <div class="perfil-direito">
        <div class="card card-azul">
            <div class="card-interno" style="display:flex">
                <form #editForm="ngForm" (ngSubmit)="onSubmit()">
                    <div class="form-row">
                      <div class="form-group">
                        <label for="name">Nome</label>
                        <input
                          type="text"
                          id="name"
                          name="name"
                          class="form-control"
                          [(ngModel)]="user.name"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input
                          type="email"
                          id="email"
                          name="email"
                          class="form-control"
                          [(ngModel)]="user.email"
                          required
                        />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group">
                        <label for="phone">Telefone</label>
                        <input
                          type="text"
                          id="phone"
                          name="phone"
                          class="form-control"
                          [(ngModel)]="user.phone"
                          [imask]="{ mask: '(00) 00000-0000' }"
                          required
                        />
                      </div>
                        <div class="form-group">
                            <label for="login">Login</label>
                            <input
                            type="text"
                            id="login"
                            name="login"
                            class="form-control"
                            [(ngModel)]="user.login"
                            required
                            />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="password">Senha</label>
                            <input
                              type="password"
                              id="password"
                              name="password"
                              class="form-control"
                              [(ngModel)]="user.password"
                              required
                            />
                          </div>
                      <div class="form-group">
                        <label for="confirmPassword">Confirmar Senha</label>
                        <input
                          type="password"
                          id="confirmPassword"
                          name="confirmPassword"
                          class="form-control"
                          [(ngModel)]="confirmPassword"
                          required
                        />
                      </div>
                    </div>
                    <div class="form-buttons">
                      <button type="submit" class="btn btn-primary">Salvar</button>
                      <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancelar</button>
                    </div>
                  </form>                  
            </div>
        </div>
        <div class="card card-roxo">
            <div class="card-interno" style="padding: 2em">
                <h1 style="color: #7e57c2; font-weight: bolder;">Aulas</h1>
                <hr>
                <div *ngFor="let event of events">
                    <p style="margin-top: 2em;">( <b>{{event.date | date: 'dd/MM/yyyy' }}</b> )</p>
                    <p style="margin-top: 1em; font-size: small;">{{event.theme | uppercase}}</p>
                    <button style="float:right;" 
                    class="btn btn-info text-white" 
                    [routerLink]="['/aula', event.themeId]">Ver mais</button>
                    <hr style=" width: 10em; margin: auto; margin-top: 5em;">
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
