<div class="navbar">
    <button [routerLink]="['/home']"><img class="logo" [src]="logo"/></button>

    <div class="links">
        <a class="button" [ngClass]="{'selected': actualPage == 'calendar' }" [routerLink]="['/calendario']"><img class="button-image" [src]="calendar"/></a>
        <a class="button" (click)="redirecionarParaWhatsApp()"><img class="button-image" [src]="message"/></a>

        <div class="dropdown">
            <img class="avatar" [src]="userAvatar || 'assets/images/avatar.png'" alt="Avatar">
            <button class="dropbtn">Olá {{name}}</button>
            <div class="dropdown-content">
                <a (click)="verPerfil()">Ver Perfil</a>
                <a (click)="logout()">Logout</a>
            </div>
        </div>
    </div>
</div>
