<app-navbar [actualPage]="'calendar'"></app-navbar>
<div class="container">
    <div class="info">
        <div class="retangulo-interno">
            <h1>Adicione um novo Evento</h1>
            <form [formGroup]="calendarForm" #formDir="ngForm">
                <mat-form-field class="col-sm-3">
                    <mat-label>Data</mat-label>
                    <input matInput formControlName="date" class="form-control custom-input" [imask]="{ mask: '00/00/0000' }" required />
                </mat-form-field>
                <mat-form-field class="col-sm-4" style="margin-left: 10px;">
                    <mat-label>Turma</mat-label>
                    <mat-select formControlName="class">
                        <mat-option *ngFor="let class of classes" [value]="class.id">{{class.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="col-sm-4" style="margin-left: 10px;">
                    <mat-label>Professor</mat-label>
                    <mat-select formControlName="professor">
                        <mat-option *ngFor="let professor of professors" [value]="professor.id">{{professor.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="col-sm-4" style="margin-left: 10px;">
                    <mat-label>Tema</mat-label>
                    <mat-select formControlName="theme">
                        <mat-option [value]="'novo'">Adicionar Novo Tema</mat-option>
                        <mat-option *ngFor="let theme of themes" [value]="theme.id">{{theme.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div *ngIf="showThemes">
                    <hr>
                    <h1 style="margin-top: 1em;">Adicione um novo Tema</h1>
                    <mat-form-field class="col-sm-4" style="margin-left: 10px;">
                        <mat-label>Tema</mat-label>
                        <input matInput type="text" formControlName="themeName">
                    </mat-form-field>
                    <br>
                    <mat-form-field class="col-sm-6" style="margin-left: 10px;">
                        <mat-label>Conteudo</mat-label>
                        <textarea matInput type="text" formControlName="content" rows="5"></textarea>
                    </mat-form-field>
                    <mat-form-field class="col-sm-6" style="margin-left: 10px;">
                        <mat-label>Resumo</mat-label>
                        <textarea matInput type="text" formControlName="resume" rows="5"></textarea>
                    </mat-form-field>
                  </div>
                  <div>
                    <button 
                        type="submit"
                        class="btn btn-warning text-white"
                        [routerLink]="['/calendario']"
                    >
                        Voltar
                    </button>
                    <button 
                        style="margin-left: 20px;"
                        type="submit"
                        class="btn btn-success text-white"
                        (click)="submit(calendarForm.value)"
                        [disabled]="!calendarForm.valid"
                    >
                        Salvar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>