.home {
    height: 79.6vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .info {
    position: relative;
    width: 50em;
    height: 30em;
    margin: auto;
    margin-bottom: 1em;
    border-radius: 20px;
    background-color: rgba(141, 78, 218, 0.3);
    margin-left: 13em;
  }
  
  .retangulo-interno {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    overflow-y: auto;
    color: #4a4a4a; /* Cor do texto */
    ::ng-deep h1 {
        font-weight: bolder;
        font-size: 30px;
        color:white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
  }

  .menu-container {
    width: 15em;
    height: 15em;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 4em;
    background-image: url('../../assets/images/logo-redondo.png');
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  

  .retangulo-professoras {
    position: relative;
    width: 24em;
    margin: 2em auto;
    padding: 1em;
    border-radius: 20px;
    background-color: #ffc107;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 3em;
  }
  
  .professor-item {
    padding: 0.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
  }
  
  .professor-item:last-child {
    border-bottom: none;
  }