<div class="menu-container" (click)="toggleMenu()" *ngIf="!menuOpen">
</div>
  
<div class="menu-content" [class.open]="menuOpen">
    <div class="menu-logo" (click)="toggleMenu()">
        <img src="../../assets/images/logo-redondo.png" alt="Logo" />
    </div>
    <ul class="menu-links">
        <li><a routerLink="/turmas">Turmas</a></li>
        <li><a routerLink="/criancas">Crianças</a></li>
        <li><a routerLink="/midias">Multimidias</a></li>
        <li><a routerLink="/cadastrar">Cadastrar Usuários</a></li>
    </ul>
</div>
  