.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(rgba(254,107,171,0), rgba(99,158,225, 1) ); 
    height: 3em;
}

p{
    font-size: smaller;
    font-weight:500;
    color:rgb(114, 114, 114);
    margin-top: 2.5em;
    margin-right: 10px;
    margin-left: auto;
}