
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; 
}

.loginContainer {
  background-color: rgba(249, 192, 13, 0.43); 
  height: auto;
  min-height: 25em;
  width: 80%; 
  width: 22em; 
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  position: relative; 
}

.logo {
  position: absolute; 
  top: -9em; 
  left: 50%;
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.3));
  transform: translateX(-50%); 
  max-width: 15em; 
}


.kids {
width: 90%; 
max-width: 35em; 
margin-bottom: 20px; 
}

.row {
display: flex;
align-items: center;
justify-content: space-between; 
width: 100%;
margin-top: 0;
}

.ipb-logo {
width: 40%; 
max-width: 15em; 
}

.logo2 {
  width: 40%; 
  max-width: 30em; 
}

.col-md-6 {
  flex: 0 0 50%;
    max-width: 50%;
display: flex;
flex-direction: column;
justify-content: center; 
align-items: center;
min-height: 100vh; 
overflow: hidden;
}

.input-field {
  position: relative;
  margin-bottom: 2em;
  width: 100%;

  input {
    width: 251px;
    padding: 1.25em 12px 0.5em 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #888;
    border-radius: 8px;
    background-color: white;
    font-size: 1em;
    outline: none;
    transition: border-color 0.2s ease, padding-top 0.2s ease;

    &:focus {
      border-color: #639EE1;
    }

    &:focus + label,
    &:not(:placeholder-shown) + label {
      top: 0.2em; 
      left: 12px;
      font-size: 0.75em;
      color: #aaa; 
      background-color: transparent; 
    }
  }

  label {
    position: absolute;
    top: 1.25em;
    left: 12px;
    font-size: 1em;
    color: #888;
    pointer-events: none;
    transition: 0.2s ease all;
  }

  .toggle-visibility {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      cursor: pointer;
      color: #888;
      
      &:hover {
        color: #639EE1;
      }
  }
}

button {
  background-color: rgba(254, 109, 171, 1); 
  border: none;
  width: 80%;
  padding: 0.75em 2em;
  color: white;
  font-family: 'Fredoka One', sans-serif;
  font-size: large;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
      background-color: rgba(227, 79, 146, 1); 
  }

  &:disabled {
      background-color: rgba(254, 182, 212, 1); 
      color: white; 
      cursor: not-allowed;
  }
}



@media (max-width: 768px) {
  .logo {
      top: -6em; 
      max-width: 10em;
  }

  .loginContainer {
      width: 100%;
      height: auto;
      margin-top: 1em;
  }

  .kids {
      width: 80%;
      max-width: 20em;
  }

  .ipb-logo, .logo2 {
      width: 45%; 
      max-width: 10em;
  }

  button {
      width: 100%; 
  }
}

@media (max-width: 480px) {
  .logo {
      top: -4em;
      max-width: 8em;
  }

  .kids {
      width: 90%;
      max-width: 18em;
  }

  .ipb-logo, .logo2 {
      width: 50%; 
  }
}

.error-snackbar {
  background-color: #f44336; // Vermelho
  color: white; // Texto branco
}

.input-field input.is-invalid {
  border: 2px solid red;
}

.input-field input.is-invalid:focus {
  outline: none;
}

.error-message {
  color: red;
  margin: 5px;
  font-size: x-small;
  text-transform: uppercase;
  font-weight: bold;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-top: -10px;
  margin-bottom: 10px;
}

.remember-me label {
  display: flex;
  align-items: center;
}

.remember-text {
  font-size: x-small;
  font-weight: bold;
  text-transform: uppercase;
  color: #d81b60;
  margin-left: 10px;
}
